<div id="footer">
	<div class="container">
		<div class="padding">
			<table>
				<tr>
					<td class="one-third">
						<img src="/assets/brandologofooter.png"/>
						<p class="ptm" style="margin-bottom: 0">
							© Brando Arts 2013<br/>
							All rights reserved.
						</p>
					</td>
					<td class="one-sixth">
						<div class="pll">
							<ul>
								<li>
									<%= link_to "branding", brandings_path %>
								</li>
								<li>
									<%= link_to "web", webs_path %>
								</li>
								<li>
									<%= link_to "photo", photos_path %>
								</li>
								<li>
									<%= link_to "portfolio", portfolios_path %>
								</li>
								<li>
									<%= link_to "clients", clients_path %>
								</li>
								<li>
									<a href="/assets/Resume.pdf">resume</a>
								</li>
								<li>
									<%= link_to "admin", admins_path %>
								</li>
							</ul>
						</div>
					</td>
					<td class="one-third">
						<%= link_to "mailto:brando@brandoarts.com" do %>
							<h2>brando@brandoarts.com</h2>
						<% end %>
						<div class="mtm">
							<%= link_to "http://www.facebook.com/pages/Brando-Art/171977088982", :class => "icon prs", :target => "_blank" do %>
								<img src="/assets/fbicon.png"/>
							<% end %>
							<%= link_to "http://twitter.com/brandoarts", :class => "icon prs", :target => "_blank" do %>
								<img src="/assets/twiticon.png"/>
							<% end %>
							<%= link_to "http://www.linkedin.com/pub/mike-brando/33/1aa/201/", :class => "icon prs", :target => "_blank" do %>
								<img class="icon" src="/assets/linkedinicon.png"/>
							<% end %>
						</div>
					</td>
					<td align="right">
						<img src="/assets/footergraphic.png"/>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>