<div id="footer">
	<div class="container">
		<div class="padding">
			<table>
				<tr>
					<td class="one-third">
						<%= link_to "http://superjova.com", target: "_blank" do %>
							<img src="/assets/superjova.png"/>
						<% end %>
						<p class="ptm" style="margin-bottom: 0">
							© Brando Arts 2015<br/>
							All rights reserved.
						</p>
					</td>
					<td class="one-sixth">
						<div class="pll">
							<ul>
								<li>
									<%= link_to "branding", brandings_path %>
								</li>
								<li>
									<%= link_to "web", webs_path %>
								</li>
								<li>
									<%= link_to "photo", photographies_path %>
								</li>
								<li>
									<%= link_to "misc", portfolios_path %>
								</li>
								<li>
									<%= link_to "clients", clients_path %>
								</li>
								<li>
									<%= link_to "resume", Attachment.where(admin_id: 2).last.try(:resume).try(:url) %>
								</li>
								<li>
									<%= link_to "admin", admins_path %>
								</li>
							</ul>
						</div>
					</td>
					<td class="one-third">
						<%= link_to "mailto:brando@brandoarts.com" do %>
							<h2 class="mint-hover">brando@brandoarts.com</h2>
						<% end %>
						<div class="mtm">
							<%= link_to "http://www.facebook.com/pages/Brando-Art/171977088982", :class => "icon prs", :target => "_blank" do %>
								<img src="/assets/fbicon.png"/>
							<% end %>
							<%= link_to "http://twitter.com/MikeBrando", :class => "icon prs", :target => "_blank" do %>
								<img src="/assets/twiticon.png"/>
							<% end %>
							<%= link_to "http://www.linkedin.com/pub/mike-brando/33/1aa/201/", :class => "icon prs", :target => "_blank" do %>
								<img class="icon" src="/assets/linkedinicon.png"/>
							<% end %>
						</div>
					</td>
					<td align="right">
						<img src="/assets/footergraphic.png"/>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
