<div class="navbar-option">
	<%= link_to "CLIENTS", clients_path %>
</div>
<div class="navbar-option">
	/
</div>
<div class="navbar-option">
	<%= link_to "MISC", portfolios_path %>
</div>
<div class="navbar-option">
	/
</div>
<div class="navbar-option">
	<%= link_to "PHOTO", photographies_path %>
</div>
<div class="navbar-option">
	/
</div>
<div class="navbar-option">
	<%= link_to "WEB", webs_path %>
</div>
<div class="navbar-option">
	/
</div>
<div class="navbar-option">
	<%= link_to "BRANDING", brandings_path %>
</div>