<div class="navbar-option">
	<%= link_to "CLIENTS", clients_path %>
</div>
<div class="navbar-option">
	/
</div>
<div class="navbar-option">
	<%= link_to "PORTFOLIO", portfolios_path %>
</div>
<div class="navbar-option">
	/
</div>
<div class="navbar-option">
	<%= link_to "PHOTO", photos_path %>
</div>
<div class="navbar-option">
	/
</div>
<div class="navbar-option">
	<%= link_to "WEB", websites_path %>
</div>
<div class="navbar-option">
	/
</div>
<div class="navbar-option">
	<%= link_to "BRANDING", brandings_path %>
</div>