<!DOCTYPE html>
<html>
<head>
  <title>Brando Admin</title>
  <%= stylesheet_link_tag    "admin" %>
  <%= stylesheet_link_tag    "font-awesome" %>
  <%= stylesheet_link_tag    "font-awesome-ie7" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render :partial => "admins/navbar" %>

<%= render :partial => "admins/subnavbar" %>

<div id="content">
	<div class="container">
		<div class="padding">
			<%= yield %>
		</div>
	</div>
</div>

</body>
</html>
