<!DOCTYPE html>
<html>
<head>
  <title>Brando</title>
  <%= stylesheet_link_tag    "spaces" %>
  <%= stylesheet_link_tag    "hunk" %>
  <%= stylesheet_link_tag    "font-awesome" %>
  <%= stylesheet_link_tag    "font-awesome-ie7" %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "jquery_ujs" %>
  <%= javascript_include_tag "project" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render :partial => "shared/navbar" %>

<div id="content">
	<%= yield %>
</div>

<%= render :partial => "shared/footer" %>

</body>
</html>
